In [1]:
f = "python \n programing"
print(f)

python
 programing

In [2]:
# raw starting
r = r"python \n programing"
print(r)

python \n programing

In [3]:
import re

In [4]:
address = "78 Hi 11    89 Main, 4th Cross, 123, Road, Marathalli, 5678 Bangalore, 560023 67893"

In [5]:
add_nos = re.findall(R'\d+', address)

print(f'sorting the only nums from address {add_nos}')

sorting the only nums from address ['78', '11', '89', '4', '123', '5678', '560023', '67893']

In [6]:
## now i want nos with 6 digit only
# REAL LIFE APPLICATION - EXTRACTING THE PIN CODES

add_dig = re.findall(r'\d{2}', address)

print(f'sorting the only nums from address {add_dig}')

sorting the only nums from address ['78', '11', '89', '12', '56', '78', '56', '00', '23', '67', '89']

In [7]:
# now i want nos with 1-3 digit only
add_digs = re.findall(r'\d{1,6}',address)
print(f'sorting the only nums from address {add_digs}')

sorting the only nums from address ['78', '11', '89', '4', '123', '5678', '560023', '67893']

In [8]:

s = '''
<html>
<head>
<title>Current IP Address Allocations
</title>
</head>
<body>
IP Address are 172.45.78.109
LoopBack Address: 127.0.0.1
Computer 1: 10.67.89.101
Computer 2: 11.67.98.102
Computer 3: 12.68.98.102
</body>
</html>
'''

In [9]:
ip_s = re.findall(r'\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}',s)
print(f'ip address are -: {ip_s}')

ip address are -: ['172.45.78.109', '127.0.0.1', '10.67.89.101', '11.67.98.102', '12.68.98.102']

In [10]:
### 10  0r 11
ip_s1=re.findall(r"1[0-1]\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['10.67.89.101', '11.67.98.102']

In [11]:
### 10  0r 11
ip_s1=re.findall(r"1[0|1]\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['10.67.89.101', '11.67.98.102']

In [12]:
### 10  only
ip_s0=re.findall(r"10\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s0}')

ip address are -: ['10.67.89.101']

In [13]:
print("Find all matches for format Month day")

matches = re.findall(r"[A-Z][a-z]+\s\d{1,2}", "These are the match dates June 24, August 9, Dec 12")
print(f'gives Month Date format - {matches}')

matches = re.findall(r"[A-Z][a-z]+\s(\d{1,2})", "These are the match dates June 24, August 9, Dec 12")
print(f'gives Date format - {matches}')

matches = re.findall(r"([A-Z][a-z]+)\s(\d{1,2})", "These are the match dates June 24, August 9, Dec 12")
print(f'gives tuple of Month & Date format - {matches}')

Find all matches for format Month day
gives Month Date format - ['June 24', 'August 9', 'Dec 12']
gives Date format - ['24', '9', '12']
gives tuple of Month & Date format - [('June', '24'), ('August', '9'), ('Dec', '12')]

In [14]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com"

emails = re.findall(r"\w+@\w+\.\w+", s)
print(emails)

['alice@google.com', 'helloab@abc.com', '23@gmail.com', 'my23@gmail.com', '_@gmail.com']

In [15]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com"

emails = re.findall(r"\d+@\w+\.\w+", s)
print(f'starts with alphabets only {emails}')

# \w => A-Za-z0-9_

starts with alphabets only ['23@gmail.com', '23@gmail.com']

In [16]:
# findall - digit 0ne or more
new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\d+',new_st2)
print(nr6)

['23', '453214']

In [17]:
# findall - except digit
new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\D',new_st2)
print(nr6)

['F', 'r', 'i', 'e', 'n', 'd', ' ', 'i', 'n', ' ', 'n', 'e', 'e', 'd', ' ', 'i', 's', ' ', ' ', 'f', 'r', 'i', 'e', 'n', 'd', ' ', 'i', 'n', ' ', ' ', 'd', 'e', 'e', 'd']

In [18]:
# findall - words ( removes spaces)
new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\w',new_st2)
print(nr6)

['F', 'r', 'i', 'e', 'n', 'd', 'i', 'n', 'n', 'e', 'e', 'd', 'i', 's', '2', '3', 'f', 'r', 'i', 'e', 'n', 'd', 'i', 'n', '4', '5', '3', '2', '1', '4', 'd', 'e', 'e', 'd']

In [19]:
# findall - sets - [23] one digit
new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('[23]',new_st2) # 2,3
print(nr6)

['2', '3', '3', '2']

In [20]:


target_string = "Emma is a Python developer \n Emma also knows ML and AI"

# caret (^) matches at the beginning of a string
result = re.search(r"^\w{4}", target_string)
print(result.group())

Emma

In [21]:


str1 = "Emma is a Python developer \nEmma also knows ML and AI"
# dollar sign($) to match at the end of the string
result = re.search(r"\w{2}$", str1)
print(result.group())

AI

In [22]:
st = 'In a world where you can be anything, be kind'

match_object = re.search('In',st)
print(f'type is object {match_object}')

type is object <re.Match object; span=(0, 2), match='In'>

In [23]:
match_object1 = re.search('be',st)
print(f'type is object {match_object1}')

type is object <re.Match object; span=(25, 27), match='be'>

In [24]:
match_object.start()

0

In [25]:
match_object1.start()

25

In [26]:
match_object.span()

(0, 2)

In [27]:
match_object1.span()

(25, 27)

In [28]:
source_str  = 'we need to inform him with the latest information'

info = re.search('inform', source_str)
info

In [29]:
if re.search('inform', source_str):
    print('inform is there')

inform is there

In [30]:
randomstr = 'here is \\kane'

print(randomstr)

re.search(r'\\kane',randomstr)

here is \kane

In [31]:
r = re.split(' ',st)
r

['In', 'a', 'world', 'where', 'you', 'can', 'be', 'anything,', 'be', 'kind']

In [32]:
r1 = re.split('e',st)
r1

['In a world wh', 'r', ' you can b', ' anything, b', ' kind']

In [33]:
# max split
r12 = re.split('e',st,2)
r12

['In a world wh', 'r', ' you can be anything, be kind']

In [34]:
s = "Welcome to   Regex    Programming   using   Python"

print(f'the value of s               : {s}')

lstVal = re.split(r'\s', s)
#\s only one space
print(f'Regex Split value of s        :{lstVal}')

lstVal2 = re.split(r'\s+', s)
#\s+ space one or more
print(f'Regex Split value of s        :{lstVal2}')

the value of s               : Welcome to   Regex    Programming   using   Python
Regex Split value of s        :['Welcome', 'to', '', '', 'Regex', '', '', '', 'Programming', '', '', 'using', '', '', 'Python']
Regex Split value of s        :['Welcome', 'to', 'Regex', 'Programming', 'using', 'Python']

In [35]:
sb = re.sub('e','E',st)
sb

'In a world whErE you can bE anything, bE kind'

In [36]:
# max no of occurances to be substituted
sb1 = re.sub('e','E',st,2)
sb1

'In a world whErE you can be anything, be kind'

In [37]:
a = 'hat mat rat pat '

reg = re.compile('[r]at')
reg

re.compile(r'[r]at', re.UNICODE)

In [38]:
rplce = reg.sub('FOOD',a)
rplce

'hat mat FOOD pat '

In [39]:
#replacing 

rplc = re.sub('rat','FOOD',a)
rplc

'hat mat FOOD pat '

In [40]:
chelsea = '''keep the blue flag
flying high
chelsa
'''
chelsea

'keep the blue flag\nflying high\nchelsa\n'

In [41]:
new_str = re.sub('\n',' ',chelsea)
new_strnew_str = re.sub('\n',' ',chelsea)
new_str

'keep the blue flag flying high chelsa '

In [42]:
# other method using compile

comp = re.compile('\n')

new =comp.sub(' ',chelsea)
new

'keep the blue flag flying high chelsa '

In [46]:
phone_no = ''' 
444-122-1234
123-122-78999
111-123-23
67-7890-2019
'''
# 3 digit @ start & middle, end -4 digit

reg = re.findall(r'\d{3}\-\d{3}\-\b\d{4}\b',phone_no)
reg

['444-122-1234']

In [45]:
import re

target_string = "Jessy loves Python and pandas"
# Match six-letter word
pattern = r"\w{6}"

# match() method
result = re.match(pattern, target_string)
print(result)


# search() method
result = re.search(pattern, target_string)
print(result.group()) 


# findall() method
result = re.findall(pattern, target_string)
print(result)

None
Python
['Python', 'pandas']

In [47]:
import re

target_string = "Jessy loves Python and pandas"
# Match six-letter word
pattern = r"\b\w{5}\b"

# match() method
result = re.match(pattern, target_string)
print(result)


# search() method
result = re.search(pattern, target_string)
print(result.group()) 


# findall() method
result = re.findall(pattern, target_string)
print(result)

<re.Match object; span=(0, 5), match='Jessy'>
Jessy
['Jessy', 'loves']